#SHARED VARIABLES
DJANGO_DEBUG=True  # run Django in debug mode, which outputs stack traces to the UI, set to False for production (boolean)
ELASTICSEARCH_HOSTS="['elasticsearch:9200']" # hostnames (including ports, if applicable) at which Elasticsearch is available (list of strings)
ELASTICSEARCH_INDEX="default"  # name of Elasticsearch index to target (string)
SQL_ENGINE="django.db.backends.postgresql" # the database engine used by Argo (string, one of django.db.backends)
SQL_PORT=5432  # port on which the application database can be reached (integer)
AS_BASEURL="https://pittsbapi.as.atlas-sys.com/" # base URL for an ArchivesSpace API instance (string)
AS_USERNAME="asuser" # username for an ArchivesSpace user (read-only credentials required) (string)
AS_PASSWORD="XTR08dsm0J4O8PWZ" # password for the ArchivesSpace user (string)
AS_REPO_ID=1 # identifier for an ArchivesSpace repository (integer)
PROD=True
EMAIL_HOST='smtp.domain.tld'
EMAIL_PORT=25
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
ARGO_DNS='argo.domain.tld'
RB_DNS='requestbroker.domain.tld'
DIMES_DNS='dimes.domain.tld'

#ARGO VARIABLES
ARGO_PORT=8001
ARGO_DB_PASS='2Sc2ryPxGS9Z9KOG'
ARGO_DB='postgres'
ARGO_DB_USER='postgres'
ARGO_DJANGO_SECRET_KEY='70GiXKFV1AMKNjTl70GiXKFV1AMKNjTl70GiXKFV1AMKNjTl'  # used by Django to create hashes (string)
ARGO_DJANGO_STATIC_URL="/static/"  # URL for static assets used by Django (string)
ARGO_DJANGO_ALLOWED_HOSTS="['localhost', 'argo-web', '$ARGO_DNS']"  # hosts Argo will respond to (list of strings)
ELASTICSEARCH_CONNECTION="default"  # name of Elasticsearch connection to use (string)
ARGO_SQL_HOST="argo-db"  # host for the application database (string)
USE_X_FORWARDED_HOST=False # Set to True if the application is behind a reverse proxy (boolean)
SECURE_PROXY_SSL_HEADER="('HTTP_X_FORWARDED_PROTO', 'https')" # If the application is being a reverse proxy, and if a header value indicates an HTTPS connection proxied over HTTP, name that header and value (tuple)
CITATION_REPOSITORY_NAME="My Institution" # name of repository used in citations
CITATION_REPOSITORY_BASEURL="https://$DIMES_DNS/ # base url for citation links
CITATION_SEPARATOR="; " # string to separate different parts of the citation

#REQUEST BROKER VARIABLES
RB_DB_PASS='jx1MDXrJRVioji7R'
RB_DB='postgres'
RB_DB_USER='postgres'
RB_PORT=8000
RB_DJANGO_SECRET_KEY='he3z9WdRFPUVlq94he3z9WdRFPUVlq94he3z9WdRFPUVlq94he3z9WdRFPUVlq94'
RB_DJANGO_ALLOWED_HOSTS="['request-broker-web','localhost','requestbroker.domain.tld']"
RB_DJANGO_CORS_ALLOWED_ORIGINS="['http://$DIMES_DNS','https://$DIMES_DNS']"
RB_SQL_HOST='request-broker-db'
RB_AEON_BASEURL='https://domain.aeon.atlas-sys.com/aeon/api'
RB_AEON_API_KEY='DD9yBxApj8TgnkuvDD9yBxApj8Tgnkuv'
RB_DEFAULT_FROM_EMAIL='archives@domain.tld'
RB_DIMES_BASEURL="https://$DIMES_DNS"
RB_RESTRICTED_IN_CONTAINER=False
RB_OFFSITE_BUILDINGS="['']"
RB_RESOURCE_ID_SEPARATOR='.'
RB_USE_LOCATION_TITLE=True
RB_AEON_CACHE_DURATION=7200

#DIMES VARIABLES
REACT_APP_ARGO_BASEURL="https://$ARGO_DNS"
REACT_APP_REQUEST_BROKER_BASEURL="https://$RB_DNS/api"
REACT_APP_LOCALSTORAGE_KEY='DIMESMyList'
REACT_APP_MINIMAP_KEY='DIMESMinimapIntro'
REACT_APP_S3_BASEURL='https://iiif.domain.tld'
REACT_APP_EMAIL='support@domain.tld'
REACT_APP_CAPTCHA_SITE_KEY='EWbC5iqWGSsi0aCrEWbC5iqWGSsi0aCr'
REACT_APP_AEON_URL='https://domain.aeon.atlas-sys.com/aeon/aeon.dll'
REACT_APP_SOCIAL_TWITTER_URL='https://twitter.com/domain'
REACT_APP_SOCIAL_FACEBOOK_URL='https://www.facebook.com/domain/'
REACT_APP_SOCIAL_INSTAGRAM_URL='https://www.instagram.com/domain/'
REACT_APP_SOCIAL_YOUTUBE_URL='https://www.youtube.com/user/domain/videos'
REACT_APP_SOCIAL_FLICKR_URL=''
REACT_APP_REFINE_SEARCH=True
REACT_APP_DUPLICATION_REQUEST_LIMIT=20
REACT_APP_ENABLE_READING_ROOM_SELECT=False

#PISCES VARIABLES
PISCES_PORT=8007
PISCES_DB_PASS='9Ml0XYnTLW6ALkJX'
PISCES_DB='pisces-db'
PISCES_DB='postgres'
PISCES_DB_USER='postgres'
PISCES_DJANGO_CRON_LOCKFILE_PATH="/tmp/pisces_cron/"  # absolute path to store lockfiles for running cron jobs (string)
PISCES_DJANGO_SECRET_KEY='YPvk5XehEl9ZFTxuYPvk5XehEl9ZFTxuYPvk5XehEl9ZFTxu'  # used by Django to create hashes (string)
PISCES_DJANGO_ALLOWED_HOSTS="['localhost', 'pisces-web']"  # hosts Pisces will respond to (list of strings)
PISCES_SQL_HOST="pisces-db"  # host for the application database (string)
CARTOGRAPHER_USE=False # set to False to disable Cartographer completely (boolean)
CARTOGRAPHER_BASEURL="http://localhost:8007" # base URL for Cartographer (string)
CARTOGRAPHER_HEALTH_CHECK_PATH="/status/health/" # path to health check endpoint in Cartographer, default is "/status/health/" (string)
CHUNK_SIZE=2000 # the number of fetched records to process at once (integer)
INDEX_DELETE_URL="http://scorpio-web:8008/index/delete/" # URL which handles request to delete objects from Elasticsearch, by default a Scorpio URL (string)
EMAIL_TO_ADDRESSES="['technical@domain.tld']" # full email addresses to which error notifications should be sent (list of strings)
MOVING_IMAGE_REFS="[]"  # ArchivesSpace URIs (for example "/subjects/42") for controlled terms which refer to moving image materials (list of strings)
AUDIO_REFS="['']" # ArchivesSpace URIs (for example "/subjects/42") for controlled terms which refer to audio materials (list of strings)
PHOTOGRAPH_REFS="[]" # ArchivesSpace URIs (for example "/subjects/42") for controlled terms which refer to photographic materials (list of strings)
ASSET_BASEURL="http://request-broker-web:8000/api/process-request/resolve-PID" #  base URL for IIIF image assets, used to check whether or not assets are available online (string)
SCHEMAS_BASE_DIR="rac_schemas/schemas"
BASE_SCHEMA="base.json"
AGENT_SCHEMA="agent.json"
COLLECTION_SCHEMA="collection.json"
OBJECT_SCHEMA="object.json"
TERM_SCHEMA="term.json"
FINDING_AID_STATUS_RESTRICT='["In Progress", "Under Revision", "Unprocessed", "review_complete", "deaccessioned", "collection_closed", "to_be_reviewed", "on_hold"]'
# limits fetching of ArchivesSpace resource records to exclude those with specific finding aid statuses. Leave empty to fetch all resource records (list of strings)
NOTIFY_EMAIL=False
NOTIFY_TEAMS=False # deliver error message via Microsoft Teams (boolean)
TEAMS_URL="" # URL for Incoming Webhook Connector in Microsoft Teams Channel
RESOURCE_ID_0_PREFIXES='[]'
INHERIT_EXTENT=True

#SCORPIO VARIABLES
SCORPIO_DB_PASS='0Rm3ulKI625kU7gO'
SCORPIO_DNS='scorpio-web'
SCORPIO_DB='scorpio-db'
SCORPIO_DB='postgres'
SCORPIO_DB_USER='postgres'
SCORPIO_PORT=8013
SCORPIO_DJANGO_CRON_LOCKFILE_PATH="/tmp/scorpio_cron/"  # absolute path to store lockfiles for running cron jobs (string)
SCORPIO_DJANGO_SECRET_KEY='DnIqA2xCqO7e6bwvDnIqA2xCqO7e6bwvDnIqA2xCqO7e6bwv'  # used by Django to create hashes (string)
SCORPIO_DJANGO_ALLOWED_HOSTS="['localhost', 'scorpio-web']"  # hosts Scorpio will respond to (list of strings)
SCORPIO_SQL_HOST="scorpio-db"  # host for the application database (string)
MAX_OBJECTS=10000  # maximum number of objects to be indexed at once (integer)
PISCES_BASEURL="http://pisces-web:8007/"  # base URL for an instance of Pisces (string)
PISCES_POST_INDEX_PATH="/index-complete/"  # path in Pisces which handles HTTP requests to indicate objects have been updated, default "/index-complete/" (string)

#Traefik variables
CONFIG_PATH=./traefik
DASHBOARD_HOST=dashboard.docker.localhost

