REQUEST_BROKER_DNS=requestbroker.mysite.tld # Public DNS name for the Request Broker
REQUEST_BROKER_PORT=8000 # Port on which the Request Broker will be exposed
SCORPIO_DNS=scorpio.localhost # DNS name for Scorpio (probably private)
SCORPIO_PORT=8013 # Port on which Scorpio will listen
PISCES_DB_PASS=piscespasswordhere # database password used in postgres container, fed to pisces and pisces cron
SCORPIO_DB_PASS=scorpiopasswordhere # database password used in postgres container, fed to scorpio and scorpio cron
ARGO_DB_PASS=piscespasswordhere # database password used in postgres container, fed to argo and argo cron
REQUEST_BROKER_DB_PASS=rbpasswordhere # database password used in postgres container, fed to request broker
RB_DJANGO_ALLOWED_HOSTS = ['request-broker-web','localhost','requestbroker.library.pitt.edu']

#Traefik variables
CONFIG_PATH=./traefik
DASHBOARD_HOST=dashboard.docker.localhost
