REQUEST_BROKER_DNS=requestbroker.mysite.tld # Public DNS name for the Request Broker
REQUEST_BROKER_PORT=8000 # Port on which the Request Broker will be exposed
SCORPIO_DNS=scorpio.localhost # DNS name for Scorpio (probably private)
SCORPIO_PORT=8013 # Port on which Scorpio will listen
